{% extends "blog/base.html" %}

{% block subtitulo %}
    Sobre Mi
{% endblock subtitulo %}

{% block contenido %}
<div class="container">
<h1>Acerca de mi.</h1>

<div class="card mb-3" style="max-width: 640px;">
    <div class="row g-0">
      <div class="col-md-4">    
        <img src="../../../static/mts.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Matias Carrizo</h5>
          <p class="card-text">Soy ingeniero y usuario de los recursos de programación desde mas de cinco años para
            la resolución de los problemas ingenieriles que he encontrado a través de mi carrera. </br> La facinación del potencial de la programación me llevó, inevitablemente, 
            al aprendizaje de Python para hacerme de una gran herramienta para la resolución de futuros problemas. </p><br><br>
          <p class="card-text"><small class="text-muted">17 de Enero del 2023, Mendoza, Argentina.</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}