{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block subtitulo %}{% endblock subtitulo %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/fav.ico' %}">
     <!--Bootstrap-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
        crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.3.1/classic/ckeditor.js"></script><!--para ckeditor-->
    <script src="https://cdn.ckbox.io/CKBox/1.3.0-rc.0/ckbox.js"></script><!--para ckeditor-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> <!--para scrolleo-->
    
</head>
<body>

    <nav class="navbar bg-dark" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio' %}">Home</a>
            <a class="navbar-brand" href="{% url 'entradas' %}">Entradas</a>           
            <a class="navbar-brand" href="{% url 'sobre_mi' %}">Sobre mi</a>
            <div class="dropdown">
                {% if user.is_authenticated %}
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">                
                {{ user.username }}
                {% else %}
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login        
                {% endif %}
                            
                </a>
              
                <ul class="dropdown-menu">
                {% if user.is_authenticated %}
                  <li><a class="dropdown-item" href="{% url 'crear_entrada' %}">Nueva Entrada</a></li>
                  <li><a class="dropdown-item" href="{% url 'editar_perfil' %}">Editar Perfil</a></li> 
                  <li><a class="dropdown-item" href="{% url 'agregar_avatar' %}">Agregar Avatar</a></li>                
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                {% else %}
                  <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar Sesión</a></li>
                  <li><a class="dropdown-item" href="{% url 'registro' %}">Crear Usuario</a></li>
                {% endif %}

                </ul>
            </div>
            
        </div>
    </nav>
<br>
<br>
<div class="container">
    {% block contenido %}
    {% endblock contenido %}
    <br>
    <a href="javascript:void(0);" id="scroll" title="Scroll to Top" style="display: none;">Volver arriba<span></span></a>
<br>
</div>
<br>

<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!">Ayuda</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Contacto</a></li>

                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Curso de Python - CODERHOUSE - Alumno: Matias Carrizo.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/mts.carrizo/"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

        <script>
            ClassicEditor
                .create( document.querySelector( '#editor' ), {
                    ckbox: {
                        tokenUrl: 'https://your.token.url',
                    },
                    toolbar: [
                        'ckbox', 'imageUpload', '|', 'heading', '|', 'undo', 'redo', '|', 'bold', 'italic', '|',
                        'blockQuote', 'indent', 'link', '|', 'bulletedList', 'numberedList'
                    ],
                } )
                .catch( error => {
                    console.error( error );
                } );
        </script>-->

        <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
        <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

        <script type='text/javascript'>
            $(document).ready(function(){ 
                $(window).scroll(function(){ 
                    if ($(this).scrollTop() > 100) { 
                        $('#scroll').fadeIn(); 
                    } else { 
                        $('#scroll').fadeOut(); 
                    } 
                }); 
                $('#scroll').click(function(){ 
                    $("html, body").animate({ scrollTop: 0 }, 600); 
                    return false; 
                }); 
            });
            </script>
</body>
</html>