{% extends "blog/base.html" %}

{% block subtitulo %}
    Editar Entrada
{% endblock subtitulo %}

{% block contenido %}
<div class="container">

{% if entrada.user_id == user.id %}
    <h1>Editar Post</h1>
    <form action="{% url 'editar_entrada' entrada.id %}" method="post">

        {% csrf_token %}   
        <div class="form-outline">
            {{ formulario.as_p }}
            <br>

        </div>
        {{ formulario.media}}
        <a href="{% url 'ver_entrada' entrada.id %}" class="btn btn-secondary">Cancelar</a>
        <input type="submit" class="btn btn-primary" value="Actualizar">
    </form>
{% else %}
    <h1>Este Post no es de tu autoría, no es posible editarlo.</h1> <br> <br>
    <a href="{% url 'ver_entrada' entrada.id %}" class="btn btn-secondary">Volver</a>

{% endif %} 
</div>

{% endblock contenido %}


<!--<h3>Título:</h3> <br>
<input type="text" name="titulo" id="" required> <br>
<h3>Subtitulo:</h3> <br>
<input type="text" name="subtitulo" id="" required> <br>
<textarea name="cuerpo" cols="100" rows="10"></textarea> <br>
