{% extends "blog/base.html" %}

{% block subtitulo %}
    Editar Entrada
{% endblock subtitulo %}

{% block contenido %}
<div class="container">
    <h1>Editar Post</h1>
    <form action="{% url 'editar_entrada' entrada.id %}" method="post">

        {% csrf_token %}   
        <div class="form-outline">
            {{ formulario.as_p }}
            <br>

        </div>
        {{ formulario.media}}
        <input type="submit" value="Actualizar">
    </form>


</div>

{% endblock contenido %}


<!--<h3>Título:</h3> <br>
<input type="text" name="titulo" id="" required> <br>
<h3>Subtitulo:</h3> <br>
<input type="text" name="subtitulo" id="" required> <br>
<textarea name="cuerpo" cols="100" rows="10"></textarea> <br>
