{% extends "blog/base.html" %}

{% block subtitulo %}
    Inicio
{% endblock subtitulo %}

{% block contenido %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
            <p  {% if message.tags %} class=" alert alert-{{ message.tags }} " {% endif %}> {{ message }} <p>
    {% endfor %}
</div>
{% endif %}



<div class="container">
<h1>Inicio</h1>
<img src="{{ user.avatar.imagen.url }}" width="200" >
<p>Bienvenido/a <b>{{ request.user.first_name }}</b>, este es proyecto final del curso de Python de CODERHOUSE. <br>
Este sistema web se armó mediante el Frameworks <b> Django</b>. <br>
El código se compone de los templates que hacen a las páginas que se accederán en la navegación y <br>
tres modelos (Tareas, Proyectos y clientes) que almacenan y consultan datos de la base de datos. <br><br>   
Adicional a la página se agrega el archivo readme.md para instrucciones del código.<br><br>

Sin mas que agregar, saludos.</p>

<small>Matias Carrizo</small> 
</div>

{% endblock contenido %}