{% extends "blog/base.html" %}

{% block subtitulo %}
    Nueva Entrada
{% endblock subtitulo %}

{% block contenido %}
<div class="container">
    <h1>Nuevo Post</h1>
{% if is_update %}
    <form action="{% url 'editar_entrada' entrada.id %}" method="post">
{% else %}
    <form action="{% url 'crear_entrada' %}" method="post">
{% endif %}
        {% csrf_token %}   
        <div class="form-outline">
            {{ formulario.as_p }}
            <br>

        </div>
        {{ formulario.media}}
        <a href="{% url 'entradas' %}" class="btn btn-secondary">Cancelar</a>
        <input type="submit" class="btn btn-primary" value="Publicar">
    </form>


</div>

{% endblock contenido %}


<!--<h3>Título:</h3> <br>
<input type="text" name="titulo" id="" required> <br>
<h3>Subtitulo:</h3> <br>
<input type="text" name="subtitulo" id="" required> <br>
<textarea name="cuerpo" cols="100" rows="10"></textarea> <br>
