{% extends "blog/base.html" %}

{% block subtitulo %}
    Nueva Entrada
{% endblock subtitulo %}

{% block contenido %}
<div class="container">
<h1>Inicio</h1>
<form action="{% url 'crear_entrada' %}" method="post">
    {% csrf_token %}
    <h3>Título:</h3> <br>
    <input type="text" name="titulo" id="" required> <br>
    <h3>Subtitulo:</h3> <br>
    <input type="text" name="subtitulo" id="" required> <br>
    <textarea name="cuerpo" cols="100" rows="10"></textarea> <br>
    <input type="submit" value="Publicar">
</form>


</div>

{% endblock contenido %}