{% extends "blog/base.html" %}

{% block subtitulo %}
    Lista de Publicaciones
{% endblock subtitulo %}

{% block contenido %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
            <p  {% if message.tags %} class=" alert alert-{{ message.tags }} " {% endif %}> {{ message }} <p>
    {% endfor %}
</div>
{% endif %}


<div class="container">
    <h1>Articulos Recientes</h1>
</div>
<br>

<div class="container">
    <form action="{% url 'buscar_entrada' %}" method="post">
        {% csrf_token %}
        <p>Buscar Articulo:</p>
        <input type="text" name="entrada">
        <input type="submit" value="Buscar">    
    </form>
    <a href="{% url 'entradas' %}">Limpiar Filtro</a>
</div>
<br>
<br>

<div class="container">
 
    {% if entradas|length_is:"0" %}
    <h1> nada por aqui... </h1>
    <h3> No hay Post aún </h3> 
    
    {% else %}
        {% for entrada in entradas_ordenadas %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="{{ entrada.imagen }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'ver_entrada' entrada.id %}">{{ entrada.titulo }}</a></h5>
                        <p class="card-text">{{ entrada.subtitulo }}</p>
                        <small><p class="card-text" >{{ entrada.cuerpo | slice:"0:150" | safe }}...</p></small>
                        <small><a href="{% url 'ver_entrada' entrada.id %}">seguir leyendo...</a></small>
                        <p class="card-text"><small class="text-muted">{{ entrada.autor }}</small></p>
                        
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}     
    {% endif %}

</div>
{% endblock contenido %}